/dist/
/build/
/.venv/
/.idea/
/phantomjs.exe
/main.spec
/file_converter.spec
/ffprobe.exe
/ffplay.exe
/ffmpeg.exe
/code_testing.spec
/albumMaker.spec
/4_4.ico
/4_3.ico
/4_2.ico
/4_1.ico
/Untitled.ico
/V2.spec
/V3.spec
/vid.ico
/vidFixer.spec
/vidMaker.spec
/yt-dlp.ico
/yt-dlpFAST.ico
/V3Test.py
/Playground.py
/icons/4-1.ico
